<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8"> </meta>

    <style>

        h1   {color: red; text-align:center; font-family:verdana;}
        p    {color: black;}

        table {
                font-family: arial;
                border-collapse: collapse
        }


    </style>
    <link rel="stylesheet" href="https://www.google.com/css/maia.css">

</head>

<body>

    <header><title> BuzzKill </title></header>
    <h1>BuzzKill</h1>
    <center>
        <img src="https://static1.squarespace.com/static/546cbd8ee4b0a752395222b1/t/5717d253b09f952a812e237e/1461178965411/buzzfeed-arrow-down.jpg" alt="Buzzfeed is Trash" width="142" height="142" data-rotate="180">
    </center>


    <p>
        To find quizzes from this despicable website, go <a href="https://www.buzzfeed.com/quizzes">here</a>
        <form action="" method="post">
            <p>
                {{ form.csrf_token }}
                {{ form.siteurl.label }}<br>
                {{ form.siteurl(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>

    </p>





</body>
</html>
